src/assets/flow/default.json
{
    "permissions": {
        "canRead": true,
        "canWrite": true
    },
    "processGroupFlow": {
        "id": "3101e6e4-0164-1000-051b-bd59f31f024b",
        "uri": "http://localhost:8088/nifi-api/flow/process-groups/3101e6e4-0164-1000-051b-bd59f31f024b",
        "parentGroupId": "08cfe2f3-0161-1000-a709-81484240a42c",
        "breadcrumb": {
            "id": "3101e6e4-0164-1000-051b-bd59f31f024b",
            "permissions": {
                "canRead": true,
                "canWrite": true
            },
            "breadcrumb": {
                "id": "3101e6e4-0164-1000-051b-bd59f31f024b",
                "name": "Questionari"
            },
            "parentBreadcrumb": {
                "id": "08cfe2f3-0161-1000-a709-81484240a42c",
                "permissions": {
                    "canRead": true,
                    "canWrite": true
                },
                "breadcrumb": {
                    "id": "08cfe2f3-0161-1000-a709-81484240a42c",
                    "name": "NiFi Flow"
                }
            }
        },
        "flow": {
            "processGroups": [],
            "remoteProcessGroups": [],
            "processors": [
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                    "uri": "http://localhost:8088/nifi-api/processors/310b3eeb-0164-1000-35af-7b8f1bb593f3",
                    "position": {
                        "x": -19.713779962151932,
                        "y": 312.35225769051374
                    },
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "bulletins": [],
                    "component": {
                        "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "position": {
                            "x": -19.713779962151932,
                            "y": 312.35225769051374
                        },
                        "name": "LogAttribute",
                        "type": "org.apache.nifi.processors.standard.LogAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.5.0"
                        },
                        "state": "STOPPED",
                        "style": {},
                        "relationships": [
                            {
                                "name": "success",
                                "description": "All FlowFiles are routed to this relationship",
                                "autoTerminate": false
                            }
                        ],
                        "supportsParallelProcessing": true,
                        "supportsEventDriven": true,
                        "supportsBatching": true,
                        "persistsState": false,
                        "restricted": false,
                        "deprecated": false,
                        "multipleVersionsAvailable": false,
                        "inputRequirement": "INPUT_REQUIRED",
                        "config": {
                            "properties": {
                                "Log Level": "info",
                                "Log Payload": "false",
                                "Attributes to Log": "Questionari fetch data failure",
                                "attributes-to-log-regex": ".*",
                                "Attributes to Ignore": null,
                                "attributes-to-ignore-regex": null,
                                "Log prefix": null,
                                "character-set": "windows-1252"
                            },
                            "descriptors": {
                                "Log Level": {
                                    "name": "Log Level",
                                    "displayName": "Log Level",
                                    "description": "The Log Level to use when logging the Attributes",
                                    "defaultValue": "info",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "trace",
                                                "value": "trace"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "debug",
                                                "value": "debug"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "info",
                                                "value": "info"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "warn",
                                                "value": "warn"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "error",
                                                "value": "error"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Log Payload": {
                                    "name": "Log Payload",
                                    "displayName": "Log Payload",
                                    "description": "If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.",
                                    "defaultValue": "false",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "true",
                                                "value": "true"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "false",
                                                "value": "false"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Attributes to Log": {
                                    "name": "Attributes to Log",
                                    "displayName": "Attributes to Log",
                                    "description": "A comma-separated list of Attributes to Log. If not specified, all attributes will be logged unless `Attributes to Log by Regular Expression` is modified. There's an AND relationship between the two properties.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "attributes-to-log-regex": {
                                    "name": "attributes-to-log-regex",
                                    "displayName": "Attributes to Log by Regular Expression",
                                    "description": "A regular expression indicating the Attributes to Log. If not specified, all attributes will be logged unless `Attributes to Log` is modified. There's an AND relationship between the two properties.",
                                    "defaultValue": ".*",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Attributes to Ignore": {
                                    "name": "Attributes to Ignore",
                                    "displayName": "Attributes to Ignore",
                                    "description": "A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored unless `Attributes to Ignore by Regular Expression` is modified. There's an OR relationship between the two properties.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "attributes-to-ignore-regex": {
                                    "name": "attributes-to-ignore-regex",
                                    "displayName": "Attributes to Ignore by Regular Expression",
                                    "description": "A regular expression indicating the Attributes to Ignore. If not specified, no attributes will be ignored unless `Attributes to Ignore` is modified. There's an OR relationship between the two properties.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Log prefix": {
                                    "name": "Log prefix",
                                    "displayName": "Log prefix",
                                    "description": "Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "character-set": {
                                    "name": "character-set",
                                    "displayName": "Character Set",
                                    "description": "The name of the CharacterSet to use",
                                    "defaultValue": "windows-1252",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                }
                            },
                            "schedulingPeriod": "0 sec",
                            "schedulingStrategy": "TIMER_DRIVEN",
                            "executionNode": "ALL",
                            "penaltyDuration": "30 sec",
                            "yieldDuration": "1 sec",
                            "bulletinLevel": "WARN",
                            "runDurationMillis": 0,
                            "concurrentlySchedulableTaskCount": 1,
                            "comments": "",
                            "lossTolerant": false,
                            "defaultConcurrentTasks": {
                                "TIMER_DRIVEN": "1",
                                "EVENT_DRIVEN": "0",
                                "CRON_DRIVEN": "1"
                            },
                            "defaultSchedulingPeriod": {
                                "TIMER_DRIVEN": "0 sec",
                                "CRON_DRIVEN": "* * * * * ?"
                            }
                        },
                        "validationErrors": [
                            "'Relationship success' is invalid because Relationship 'success' is not connected to any component and is not auto-terminated"
                        ],
                        "extensionMissing": false
                    },
                    "inputRequirement": "INPUT_REQUIRED",
                    "status": {
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                        "name": "LogAttribute",
                        "runStatus": "Invalid",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "aggregateSnapshot": {
                            "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "LogAttribute",
                            "type": "LogAttribute",
                            "runStatus": "Invalid",
                            "executionNode": "ALL",
                            "bytesRead": 0,
                            "bytesWritten": 0,
                            "read": "0 bytes",
                            "written": "0 bytes",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "taskCount": 0,
                            "tasksDurationNanos": 0,
                            "tasks": "0",
                            "tasksDuration": "00:00:00.000",
                            "activeThreadCount": 0
                        }
                    }
                },
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                    "uri": "http://localhost:8088/nifi-api/processors/38920cda-0164-1000-7cd5-b802d9cb64a1",
                    "position": {
                        "x": 525.2103162483224,
                        "y": -192.3539277510024
                    },
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "bulletins": [],
                    "component": {
                        "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "position": {
                            "x": 525.2103162483224,
                            "y": -192.3539277510024
                        },
                        "name": "QuestionariDataLoader",
                        "type": "it.anticorruzione.questionari.intergrazione.QuestionariDataLoader",
                        "bundle": {
                            "group": "default",
                            "artifact": "questionari-nifi-integrator",
                            "version": "unversioned"
                        },
                        "state": "STOPPED",
                        "style": {},
                        "relationships": [
                            {
                                "name": "failure",
                                "description": "SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship",
                                "autoTerminate": false
                            },
                            {
                                "name": "nodata",
                                "description": "Successful but no new data to process.",
                                "autoTerminate": false
                            },
                            {
                                "name": "success",
                                "description": "Successfully relationship.",
                                "autoTerminate": false
                            }
                        ],
                        "supportsParallelProcessing": true,
                        "supportsEventDriven": false,
                        "supportsBatching": false,
                        "persistsState": false,
                        "restricted": false,
                        "deprecated": false,
                        "multipleVersionsAvailable": false,
                        "inputRequirement": "INPUT_ALLOWED",
                        "config": {
                            "properties": {
                                "Questionari connessione dati": "2961894d-0164-1000-7098-a86e89cf972b",
                                "Tabella db": "QUESTIONARIO",
                                "Questionario tipo": "1000",
                                "Query per caricare questionari": "Select * grom Questionari",
                                "Mapping": "MAP_COMMISSARI",
                                "Load Strategy": "FULL_LOAD",
                                "Date Field": null,
                                "Overlap Period": "100 seconds",
                                "Max Wait Time": "10000 seconds",
                                "Backoff Period": "300 seconds"
                            },
                            "descriptors": {
                                "Questionari connessione dati": {
                                    "name": "Questionari connessione dati",
                                    "displayName": "Questionari connessione dati",
                                    "description": "The database containing records of questionari",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "BDCNP-Connection",
                                                "value": "08d2d057-0161-1000-08c7-a1ee73a5903a"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "QuestionarioConnectionPool",
                                                "value": "2961894d-0164-1000-7098-a86e89cf972b"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "LocalDBConnectionPool",
                                                "value": "cb6c5365-0163-1000-cd42-e2c9e4275153"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false,
                                    "identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
                                    "identifiesControllerServiceBundle": {
                                        "group": "org.apache.nifi",
                                        "artifact": "nifi-standard-services-api-nar",
                                        "version": "1.5.0"
                                    }
                                },
                                "Tabella db": {
                                    "name": "Tabella db",
                                    "displayName": "Tabella db",
                                    "description": "Name of table including schema (if applicable)",
                                    "defaultValue": "QUESTIONARIO",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Questionario tipo": {
                                    "name": "Questionario tipo",
                                    "displayName": "Questionario tipo",
                                    "description": "Tipologia del questionario",
                                    "defaultValue": "1000",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Query per caricare questionari": {
                                    "name": "Query per caricare questionari",
                                    "displayName": "Query per caricare questionari",
                                    "description": "Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.",
                                    "defaultValue": "",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Mapping": {
                                    "name": "Mapping",
                                    "displayName": "Mapping",
                                    "description": "Choose type of mapping to JSON",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "MAP_COMMISSARI",
                                                "value": "MAP_COMMISSARI"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "MAP_SDIP",
                                                "value": "MAP_SDIP"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Load Strategy": {
                                    "name": "Load Strategy",
                                    "displayName": "Load Strategy",
                                    "description": "Whether to load the entire table or perform an incremental extract",
                                    "defaultValue": "FULL_LOAD",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "FULL_LOAD",
                                                "value": "FULL_LOAD"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "INCREMENTAL",
                                                "value": "INCREMENTAL"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Date Field": {
                                    "name": "Date Field",
                                    "displayName": "Date Field",
                                    "description": "Source field containing a modified date for tracking incremental load",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Overlap Period": {
                                    "name": "Overlap Period",
                                    "displayName": "Overlap Period",
                                    "description": "Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: >0s",
                                    "defaultValue": "0 seconds",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Max Wait Time": {
                                    "name": "Max Wait Time",
                                    "displayName": "Max Wait Time",
                                    "description": "The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.",
                                    "defaultValue": "0 seconds",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Backoff Period": {
                                    "name": "Backoff Period",
                                    "displayName": "Backoff Period",
                                    "description": "Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: >5m",
                                    "defaultValue": "300 seconds",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                }
                            },
                            "schedulingPeriod": "60 min",
                            "schedulingStrategy": "TIMER_DRIVEN",
                            "executionNode": "ALL",
                            "penaltyDuration": "30 sec",
                            "yieldDuration": "1 sec",
                            "bulletinLevel": "WARN",
                            "runDurationMillis": 0,
                            "concurrentlySchedulableTaskCount": 1,
                            "comments": "",
                            "lossTolerant": false,
                            "defaultConcurrentTasks": {
                                "TIMER_DRIVEN": "1",
                                "EVENT_DRIVEN": "0",
                                "CRON_DRIVEN": "1"
                            },
                            "defaultSchedulingPeriod": {
                                "TIMER_DRIVEN": "0 sec",
                                "CRON_DRIVEN": "* * * * * ?"
                            }
                        },
                        "extensionMissing": false
                    },
                    "inputRequirement": "INPUT_ALLOWED",
                    "status": {
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                        "name": "QuestionariDataLoader",
                        "runStatus": "Stopped",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "aggregateSnapshot": {
                            "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "QuestionariDataLoader",
                            "type": "QuestionariDataLoader",
                            "runStatus": "Stopped",
                            "executionNode": "ALL",
                            "bytesRead": 0,
                            "bytesWritten": 0,
                            "read": "0 bytes",
                            "written": "0 bytes",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "taskCount": 0,
                            "tasksDurationNanos": 0,
                            "tasks": "0",
                            "tasksDuration": "00:00:00.000",
                            "activeThreadCount": 0
                        }
                    }
                },
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                    "uri": "http://localhost:8088/nifi-api/processors/3106f99a-0164-1000-5269-c5993d16bf4e",
                    "position": {
                        "x": 1044.8058057502756,
                        "y": 122.65508637863627
                    },
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "bulletins": [],
                    "component": {
                        "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "position": {
                            "x": 1044.8058057502756,
                            "y": 122.65508637863627
                        },
                        "name": "PutFile",
                        "type": "org.apache.nifi.processors.standard.PutFile",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.5.0"
                        },
                        "state": "STOPPED",
                        "style": {},
                        "relationships": [
                            {
                                "name": "failure",
                                "description": "Files that could not be written to the output directory for some reason are transferred to this relationship",
                                "autoTerminate": false
                            },
                            {
                                "name": "success",
                                "description": "Files that have been successfully written to the output directory are transferred to this relationship",
                                "autoTerminate": false
                            }
                        ],
                        "supportsParallelProcessing": true,
                        "supportsEventDriven": true,
                        "supportsBatching": true,
                        "persistsState": false,
                        "restricted": true,
                        "deprecated": false,
                        "multipleVersionsAvailable": false,
                        "inputRequirement": "INPUT_REQUIRED",
                        "config": {
                            "properties": {
                                "Directory": "Q:\\QuestinariOut",
                                "Conflict Resolution Strategy": "fail",
                                "Create Missing Directories": "true",
                                "Maximum File Count": null,
                                "Last Modified Time": null,
                                "Permissions": null,
                                "Owner": null,
                                "Group": null
                            },
                            "descriptors": {
                                "Directory": {
                                    "name": "Directory",
                                    "displayName": "Directory",
                                    "description": "The directory to which files should be written. You may use expression language such as /aa/bb/${path}",
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Conflict Resolution Strategy": {
                                    "name": "Conflict Resolution Strategy",
                                    "displayName": "Conflict Resolution Strategy",
                                    "description": "Indicates what should happen when a file with the same name already exists in the output directory",
                                    "defaultValue": "fail",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "replace",
                                                "value": "replace"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "ignore",
                                                "value": "ignore"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "fail",
                                                "value": "fail"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Create Missing Directories": {
                                    "name": "Create Missing Directories",
                                    "displayName": "Create Missing Directories",
                                    "description": "If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.",
                                    "defaultValue": "true",
                                    "allowableValues": [
                                        {
                                            "allowableValue": {
                                                "displayName": "true",
                                                "value": "true"
                                            },
                                            "canRead": true
                                        },
                                        {
                                            "allowableValue": {
                                                "displayName": "false",
                                                "value": "false"
                                            },
                                            "canRead": true
                                        }
                                    ],
                                    "required": true,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Maximum File Count": {
                                    "name": "Maximum File Count",
                                    "displayName": "Maximum File Count",
                                    "description": "Specifies the maximum number of files that can exist in the output directory",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": false
                                },
                                "Last Modified Time": {
                                    "name": "Last Modified Time",
                                    "displayName": "Last Modified Time",
                                    "description": "Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Permissions": {
                                    "name": "Permissions",
                                    "displayName": "Permissions",
                                    "description": "Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Owner": {
                                    "name": "Owner",
                                    "displayName": "Owner",
                                    "description": "Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                },
                                "Group": {
                                    "name": "Group",
                                    "displayName": "Group",
                                    "description": "Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.",
                                    "required": false,
                                    "sensitive": false,
                                    "dynamic": false,
                                    "supportsEl": true
                                }
                            },
                            "schedulingPeriod": "0 sec",
                            "schedulingStrategy": "TIMER_DRIVEN",
                            "executionNode": "ALL",
                            "penaltyDuration": "30 sec",
                            "yieldDuration": "1 sec",
                            "bulletinLevel": "WARN",
                            "runDurationMillis": 0,
                            "concurrentlySchedulableTaskCount": 1,
                            "comments": "",
                            "lossTolerant": false,
                            "defaultConcurrentTasks": {
                                "TIMER_DRIVEN": "1",
                                "EVENT_DRIVEN": "0",
                                "CRON_DRIVEN": "1"
                            },
                            "defaultSchedulingPeriod": {
                                "TIMER_DRIVEN": "0 sec",
                                "CRON_DRIVEN": "* * * * * ?"
                            }
                        },
                        "extensionMissing": false
                    },
                    "inputRequirement": "INPUT_REQUIRED",
                    "status": {
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                        "name": "PutFile",
                        "runStatus": "Stopped",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "aggregateSnapshot": {
                            "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "PutFile",
                            "type": "PutFile",
                            "runStatus": "Stopped",
                            "executionNode": "ALL",
                            "bytesRead": 0,
                            "bytesWritten": 0,
                            "read": "0 bytes",
                            "written": "0 bytes",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "taskCount": 0,
                            "tasksDurationNanos": 0,
                            "tasks": "0",
                            "tasksDuration": "00:00:00.000",
                            "activeThreadCount": 0
                        }
                    }
                }
            ],
            "inputPorts": [],
            "outputPorts": [],
            "connections": [
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "38923182-0164-1000-872b-3fc4017a243e",
                    "uri": "http://localhost:8088/nifi-api/connections/38923182-0164-1000-872b-3fc4017a243e",
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "component": {
                        "id": "38923182-0164-1000-872b-3fc4017a243e",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "source": {
                            "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "QuestionariDataLoader",
                            "running": false,
                            "comments": ""
                        },
                        "destination": {
                            "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "PutFile",
                            "running": false,
                            "comments": ""
                        },
                        "name": "",
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "availableRelationships": [
                            "failure",
                            "nodata",
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": []
                    },
                    "status": {
                        "id": "38923182-0164-1000-872b-3fc4017a243e",
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "name": "success",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "sourceId": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                        "sourceName": "QuestionariDataLoader",
                        "destinationId": "3106f99a-0164-1000-5269-c5993d16bf4e",
                        "destinationName": "PutFile",
                        "aggregateSnapshot": {
                            "id": "38923182-0164-1000-872b-3fc4017a243e",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "success",
                            "sourceName": "QuestionariDataLoader",
                            "destinationName": "PutFile",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "flowFilesQueued": 0,
                            "bytesQueued": 0,
                            "queued": "0 (0 bytes)",
                            "queuedSize": "0 bytes",
                            "queuedCount": "0",
                            "percentUseCount": 0,
                            "percentUseBytes": 0
                        }
                    },
                    "bends": [],
                    "labelIndex": 1,
                    "zIndex": 0,
                    "sourceId": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                    "sourceGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "sourceType": "PROCESSOR",
                    "destinationId": "3106f99a-0164-1000-5269-c5993d16bf4e",
                    "destinationGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "destinationType": "PROCESSOR"
                },
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "310f29e1-0164-1000-76d6-619d790fa8bb",
                    "uri": "http://localhost:8088/nifi-api/connections/310f29e1-0164-1000-76d6-619d790fa8bb",
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "component": {
                        "id": "310f29e1-0164-1000-76d6-619d790fa8bb",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "source": {
                            "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "PutFile",
                            "running": false,
                            "comments": ""
                        },
                        "destination": {
                            "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "LogAttribute",
                            "running": false,
                            "comments": ""
                        },
                        "name": "",
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "availableRelationships": [
                            "failure",
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": []
                    },
                    "status": {
                        "id": "310f29e1-0164-1000-76d6-619d790fa8bb",
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "name": "success",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "sourceId": "3106f99a-0164-1000-5269-c5993d16bf4e",
                        "sourceName": "PutFile",
                        "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                        "destinationName": "LogAttribute",
                        "aggregateSnapshot": {
                            "id": "310f29e1-0164-1000-76d6-619d790fa8bb",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "success",
                            "sourceName": "PutFile",
                            "destinationName": "LogAttribute",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "flowFilesQueued": 0,
                            "bytesQueued": 0,
                            "queued": "0 (0 bytes)",
                            "queuedSize": "0 bytes",
                            "queuedCount": "0",
                            "percentUseCount": 0,
                            "percentUseBytes": 0
                        }
                    },
                    "bends": [],
                    "labelIndex": 1,
                    "zIndex": 0,
                    "sourceId": "3106f99a-0164-1000-5269-c5993d16bf4e",
                    "sourceGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "sourceType": "PROCESSOR",
                    "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                    "destinationGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "destinationType": "PROCESSOR"
                },
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "310f43fa-0164-1000-fe23-cf74ebd0aee2",
                    "uri": "http://localhost:8088/nifi-api/connections/310f43fa-0164-1000-fe23-cf74ebd0aee2",
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "component": {
                        "id": "310f43fa-0164-1000-fe23-cf74ebd0aee2",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "source": {
                            "id": "3106f99a-0164-1000-5269-c5993d16bf4e",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "PutFile",
                            "running": false,
                            "comments": ""
                        },
                        "destination": {
                            "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "LogAttribute",
                            "running": false,
                            "comments": ""
                        },
                        "name": "",
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "availableRelationships": [
                            "failure",
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [
                            {
                                "x": 710.7943267978704,
                                "y": 164.0795654366746
                            }
                        ]
                    },
                    "status": {
                        "id": "310f43fa-0164-1000-fe23-cf74ebd0aee2",
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "name": "failure",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "sourceId": "3106f99a-0164-1000-5269-c5993d16bf4e",
                        "sourceName": "PutFile",
                        "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                        "destinationName": "LogAttribute",
                        "aggregateSnapshot": {
                            "id": "310f43fa-0164-1000-fe23-cf74ebd0aee2",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "failure",
                            "sourceName": "PutFile",
                            "destinationName": "LogAttribute",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "flowFilesQueued": 0,
                            "bytesQueued": 0,
                            "queued": "0 (0 bytes)",
                            "queuedSize": "0 bytes",
                            "queuedCount": "0",
                            "percentUseCount": 0,
                            "percentUseBytes": 0
                        }
                    },
                    "bends": [
                        {
                            "x": 710.7943267978704,
                            "y": 164.0795654366746
                        }
                    ],
                    "labelIndex": 1,
                    "zIndex": 0,
                    "sourceId": "3106f99a-0164-1000-5269-c5993d16bf4e",
                    "sourceGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "sourceType": "PROCESSOR",
                    "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                    "destinationGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "destinationType": "PROCESSOR"
                },
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "3892533b-0164-1000-f074-ec54d9343001",
                    "uri": "http://localhost:8088/nifi-api/connections/3892533b-0164-1000-f074-ec54d9343001",
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "component": {
                        "id": "3892533b-0164-1000-f074-ec54d9343001",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "source": {
                            "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "QuestionariDataLoader",
                            "running": false,
                            "comments": ""
                        },
                        "destination": {
                            "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "LogAttribute",
                            "running": false,
                            "comments": ""
                        },
                        "name": "",
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "nodata"
                        ],
                        "availableRelationships": [
                            "failure",
                            "nodata",
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": []
                    },
                    "status": {
                        "id": "3892533b-0164-1000-f074-ec54d9343001",
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "name": "nodata",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "sourceId": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                        "sourceName": "QuestionariDataLoader",
                        "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                        "destinationName": "LogAttribute",
                        "aggregateSnapshot": {
                            "id": "3892533b-0164-1000-f074-ec54d9343001",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "nodata",
                            "sourceName": "QuestionariDataLoader",
                            "destinationName": "LogAttribute",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "flowFilesQueued": 0,
                            "bytesQueued": 0,
                            "queued": "0 (0 bytes)",
                            "queuedSize": "0 bytes",
                            "queuedCount": "0",
                            "percentUseCount": 0,
                            "percentUseBytes": 0
                        }
                    },
                    "bends": [],
                    "labelIndex": 1,
                    "zIndex": 0,
                    "sourceId": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                    "sourceGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "sourceType": "PROCESSOR",
                    "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                    "destinationGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "destinationType": "PROCESSOR"
                },
                {
                    "revision": {
                        "version": 0
                    },
                    "id": "389276ca-0164-1000-a3a7-30994f8f89f1",
                    "uri": "http://localhost:8088/nifi-api/connections/389276ca-0164-1000-a3a7-30994f8f89f1",
                    "permissions": {
                        "canRead": true,
                        "canWrite": true
                    },
                    "component": {
                        "id": "389276ca-0164-1000-a3a7-30994f8f89f1",
                        "parentGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "source": {
                            "id": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "QuestionariDataLoader",
                            "running": false,
                            "comments": ""
                        },
                        "destination": {
                            "id": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                            "type": "PROCESSOR",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "LogAttribute",
                            "running": false,
                            "comments": ""
                        },
                        "name": "",
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "availableRelationships": [
                            "failure",
                            "nodata",
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [
                            {
                                "x": 513.965721146015,
                                "y": 57.77611199124004
                            }
                        ]
                    },
                    "status": {
                        "id": "389276ca-0164-1000-a3a7-30994f8f89f1",
                        "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                        "name": "failure",
                        "statsLastRefreshed": "17:15:26 CEST",
                        "sourceId": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                        "sourceName": "QuestionariDataLoader",
                        "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                        "destinationName": "LogAttribute",
                        "aggregateSnapshot": {
                            "id": "389276ca-0164-1000-a3a7-30994f8f89f1",
                            "groupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                            "name": "failure",
                            "sourceName": "QuestionariDataLoader",
                            "destinationName": "LogAttribute",
                            "flowFilesIn": 0,
                            "bytesIn": 0,
                            "input": "0 (0 bytes)",
                            "flowFilesOut": 0,
                            "bytesOut": 0,
                            "output": "0 (0 bytes)",
                            "flowFilesQueued": 0,
                            "bytesQueued": 0,
                            "queued": "0 (0 bytes)",
                            "queuedSize": "0 bytes",
                            "queuedCount": "0",
                            "percentUseCount": 0,
                            "percentUseBytes": 0
                        }
                    },
                    "bends": [
                        {
                            "x": 513.965721146015,
                            "y": 57.77611199124004
                        }
                    ],
                    "labelIndex": 1,
                    "zIndex": 0,
                    "sourceId": "38920cda-0164-1000-7cd5-b802d9cb64a1",
                    "sourceGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "sourceType": "PROCESSOR",
                    "destinationId": "310b3eeb-0164-1000-35af-7b8f1bb593f3",
                    "destinationGroupId": "3101e6e4-0164-1000-051b-bd59f31f024b",
                    "destinationType": "PROCESSOR"
                }
            ],
            "labels": [],
            "funnels": []
        },
        "lastRefreshed": "17:15:26 CEST"
    }
}